<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BuyMore - eCommerce Bootstrap Template</title>

    <div th:insert="buyMore/common/css :: css"></div>
</head>

<body>
<!-- Header -->
<div th:insert="buyMore/common/header :: copy"></div>

<!-- page header -->
<section class="page-header">
    <div class="page-header-overlay">
        <div class="container">
            <div class="row">
                <div class="section-title col-md-offset-3 col-md-6 col-sm-12 col-xs-12 text-center">
                    <h2>关于我们</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- menu row -->
<section class="menu-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="menu-link">
                    <div class="well well-lg page-label">
                        <h3 class="pull-left">About Us</h3>
                        <ul class="list-inline pull-right">
                            <li>Home</li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- about us -->
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-title">
                    <h3>Welcome to BuyMore</h3>
                    <small>Our Story vehicula pede leo ante vitae primis</small>
                    <span class="section-border"><span class="dash"></span></span>
                </div>

                <p>Lorem ipsum dolor sit amet, eu adipiscing volutpat, mus augue pede. Dui massa gravida amet sed,
                    praesent pretium aliquam ligula rutrum, elit et risus cum tincidunt, ipsum amet sed tincidunt
                    rutrum, suspendisse tincidunt. Tincidunt risus. Non augue luctus magna dui nullam lectus, vehicula
                    pede leo ante. Neque at ac vitae amet, primis viverra integer luctus tellus ipsum. Ligula aut ut leo
                    eu vulputate pellentesque, eu ultricies nonummy, pellentesque consectetuer et elit, mi sit blandit.
                    In nulla, dolor nulla, molestiae sed. Natoque lorem adipiscing maecenas lorem aenean, donec eget
                    integer ut augue diam, in neque nullam donec assumenda ut qui, et aliquam metus. Quam netus nisl
                    nullam tellus feugiat, gravida duis scelerisque mauris.</p>
                <p>Donec eget integer ut augue diam, in neque nullam donec assumenda ut qui, et aliquam metus. Quam
                    netus nisl nullam tellus feugiat, gravida duis scelerisque mauris amet, urna urna elementum
                    pellentesqu.</p>
            </div>
            <div class="col-md-7">
                <img class="img-responsive" src="/res/buy_more/images/about-us.jpg" alt=""/>
            </div>
        </div>
    </div>
</section>

<!-- Skills -->
<section class="skills">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 p-0">
                <div class="skill-img">
                    <img src="/res/buy_more/images/skills.jpg" width="100%" alt=""/>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="skill-detail">
                    <div class="section-title">
                        <h3>Our Skills</h3>
                        <small>Our Story vehicula pede leo ante vitae primis</small>
                        <span class="section-border"><span class="dash"></span></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, eu adipiscing volutpat, mus augue pede. Dui massa gravida amet sed,
                        praesent pretium aliquam ligula rutrum, elit et risus cum tincidunt.</p>

                    <strong>Web Design</strong>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                             aria-valuemax="100" style="width: 45%">45%
                        </div>
                    </div>
                    <strong>HTML / CSS</strong>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                             aria-valuemax="100" style="width: 55%">55%
                        </div>
                    </div>
                    <strong>Tyography</strong>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                             aria-valuemax="100" style="width: 65%">65%
                        </div>
                    </div>
                    <strong>Wordpress</strong>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                             aria-valuemax="100" style="width: 80%">80%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Leaders -->
<section class="leaders">
    <div class="container">
        <div class="row">
            <div class="section-title col-md-offset-3 col-md-6 col-sm-12 col-xs-12 col-xs-12 text-center">
                <h2>Our Leaders</h2>
                <small>Check Out The Best Offer To Stay Trend</small>
                <div class="section-border m-50"><span class="dash"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-memb text-center">
                    <img class="img-responsive center-block" src="/res/buy_more/images/team-1.png" alt=""/>
                    <strong>John Doe</strong>
                    <div>CEO / Co-Founder</div>
                    <p>Lorem ipsum dolor sit amet, adipisn volutpt mus augue pede. Dui massa gravida amet sed, praesent
                        pretium aliquam risus cum tincidun.</p>
                    <ul class="list-inline social-icon">
                        <li><i class=" fa fa-facebook"></i></li>
                        <li><i class=" fa fa-google-plus"></i></li>
                        <li><i class=" fa fa-linkedin"></i></li>
                        <li><i class=" fa fa-twitter"></i></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-memb text-center">
                    <img class="img-responsive center-block" src="/res/buy_more/images/team-1.png" alt=""/>
                    <strong>John Doe</strong>
                    <div>CEO / Co-Founder</div>
                    <p>Lorem ipsum dolor sit amet, adipisn volutpt mus augue pede. Dui massa gravida amet sed, praesent
                        pretium aliquam risus cum tincidun.</p>
                    <ul class="list-inline social-icon">
                        <li><i class=" fa fa-facebook"></i></li>
                        <li><i class=" fa fa-google-plus"></i></li>
                        <li><i class=" fa fa-linkedin"></i></li>
                        <li><i class=" fa fa-twitter"></i></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-memb text-center">
                    <img class="img-responsive center-block" src="/res/buy_more/images/team-1.png" alt=""/>
                    <strong>John Doe</strong>
                    <div>CEO / Co-Founder</div>
                    <p>Lorem ipsum dolor sit amet, adipisn volutpt mus augue pede. Dui massa gravida amet sed, praesent
                        pretium aliquam risus cum tincidun.</p>
                    <ul class="list-inline social-icon">
                        <li><i class=" fa fa-facebook"></i></li>
                        <li><i class=" fa fa-google-plus"></i></li>
                        <li><i class=" fa fa-linkedin"></i></li>
                        <li><i class=" fa fa-twitter"></i></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-memb text-center">
                    <img class="img-responsive center-block" src="/res/buy_more/images/team-1.png" alt=""/>
                    <strong>John Doe</strong>
                    <div>CEO / Co-Founder</div>
                    <p>Lorem ipsum dolor sit amet, adipisn volutpt mus augue pede. Dui massa gravida amet sed, praesent
                        pretium aliquam risus cum tincidun.</p>
                    <ul class="list-inline social-icon">
                        <li><i class=" fa fa-facebook"></i></li>
                        <li><i class=" fa fa-google-plus"></i></li>
                        <li><i class=" fa fa-linkedin"></i></li>
                        <li><i class=" fa fa-twitter"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Top footer -->
<section class="top-footer">
    <div class="top-footer-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="top-footer-title"><h3 class="dash">Post From Blog</h3></div>
                    <ul class="media-list">
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>Dec 23, 2015</small>
                            </div>
                        </li>
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>Dec 23, 2015</small>
                            </div>
                        </li>
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer3.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>Dec 23, 2015</small>
                            </div>
                        </li>
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer4.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>Dec 23, 2015</small>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="top-footer-title"><h3 class="dash">Trendy Fashion</h3></div>
                    <ul class="media-list">
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$25</small>
                            </div>
                        </li>
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer3.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$45</small>
                            </div>
                        </li>
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer4.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$35</small>
                            </div>
                        </li>
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$85</small>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="top-footer-title"><h3 class="dash">Top Sale Items</h3></div>
                    <ul class="media-list">
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$15</small>
                            </div>
                        </li>
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer3.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$25</small>
                            </div>
                        </li>
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer4.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$235</small>
                            </div>
                        </li>
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$55</small>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="top-footer-title"><h3 class="dash">Trendy Fashion</h3></div>
                    <ul class="media-list">
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$95</small>
                            </div>
                        </li>
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer3.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$55</small>
                            </div>
                        </li>
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer4.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$45</small>
                            </div>
                        </li>
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="/res/buy_more/images/footer.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$65</small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Middle footer -->
<section class="middle-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-xs-12 text-center">
                <div class="input-group subscribe-form input-group-lg">
                    <input type="text" class="form-control" placeholder="Your Email Here"
                           aria-describedby="sizing-addon1">
                    <span class="input-group-addon subscribe-btn" id="sizing-addon1">Subscribe <i
                            class="fa fa-send hidden-xs"></i></span>
                </div>
                <div>
                    <a class="site-title" href="index.html">Buy<span>More</span></a>
                    <p class="m-f-p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit agrel. Donec odio. Quisque
                        volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh viverra non.</p>
                </div>
                <ul class="list-inline social-icon">
                    <li><i class=" fa fa-facebook"></i></li>
                    <li><i class=" fa fa-google-plus"></i></li>
                    <li><i class=" fa fa-linkedin"></i></li>
                    <li><i class=" fa fa-twitter"></i></li>
                    <li><i class=" fa fa-skype"></i></li>
                </ul>
                <ul class="list-inline address">
                    <li><i class=" lnr lnr-home"></i>Uk Street, Unesco limted Road</li>
                    <li><i class=" lnr lnr-envelope"></i>infogmail@gmail.com</li>
                    <li><i class=" lnr lnr-phone-handset"></i>(+8802) 890 876; (+8802) 790 776</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- bottom footer -->
<footer class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-xs-12 text-center">
                <p>BuyMore Template <i class=" lnr lnr-heart"></i> Boot Ultra | All Rights Reserved / More Templates <a
                        href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a
                        href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </div>
        </div>
    </div>
</footer>

<script th:replace="buyMore/common/js :: js"></script>
</body>
</html>