<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BuyMore - eCommerce Bootstrap Template</title>

    <div th:insert="buyMore/common/css :: css"></div>
</head>

<body>
<!-- Header -->
<div th:insert="buyMore/common/header :: copy"></div>
<!-- page header -->
<section class="page-header">
    <div class="page-header-overlay">
        <div class="container">
            <div class="row">
                <div class="section-title col-md-offset-3 col-md-6 text-center">
                    <h2>Blog Posts</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- menu row -->
<section class="menu-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="menu-link">
                    <div class="well well-lg page-label">
                        <h3 class="pull-left">Blog Posts</h3>
                        <ul class="list-inline pull-right">
                            <li>Home</li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li>Blog Posts</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- blog post -->
<section>
    <div id="commentBox" class="container">
        <div class="row m-30">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-post">
                    <div class="post-img">
                        <img src="/res/buy_more/images/b-post-2.jpg" width="100%" alt="women"/>
                        <div class="date-overlay"><span>24</span>
                            <div>Nov</div>
                        </div>
                    </div>
                    <h3><span><img class="pull-left" src="/res/buy_more/images/admin.jpg" alt=""/></span>Latest Trendy
                        Fashion for Women & Man Limited Stock</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit agrel. Donec odio. Quisque volutpat
                        mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh viverra non.</p>
                </div>
            </div>

        </div> <!-- blog post row -->
    </div>
</section>

<!-- Top footer -->
<!-- 通用footer -->
<div th:insert="buyMore/common/footer :: footer"></div>


<script th:replace="buyMore/common/js :: js"></script>

<script>

    $(function () {
        innitFooterBox();
        innitCommentBox();
    });

    //初始化评论墙
    function innitCommentBox() {
        var commentBox = $("#commentBox");
        $.ajax({
            url: "innit_buyMore_commentBox_Rand",
            dataType: "json",
            type: "post",
            data: {"num": 8},
            success: function (data) {
                console.log("初始化评论墙------------------------------------->");
                console.log(data);
                console.log("------------------------------------------------");
                let tmp = 0;
                let tmp2 = 0;
                let str = "";
                if (data.length >= 1) {
                    commentBox.empty();
                    data.forEach(function (item, index) {
                        if (item.detail.length > 80) {
                            item.detail = item.detail.substr(0, 79) + "...";
                        }
                        if (tmp === 0){
                            str+="<div class=\"row m-30\">";
                        }
                        tmp++;
                        if (tmp === 3) {
                            str += "<div class=\"row m-30\">";
                            tmp = 0;
                            tmp2 = 1;
                        }
                        str += "      <div class=\"col-md-4 col-sm-6 col-xs-12\">\n" +
                            "                <div class=\"single-post\">\n" +
                            "                    <div class=\"post-img\">\n" +
                            "                        <img src=\"" + item.image + "\" width=\"100%\" alt=\"women\"/>\n" +
                            "                        <div class=\"date-overlay\"><span>" + item.day + "</span>\n" +
                            "                            <div>" + item.month + "月</div>\n" +
                            "                        </div>\n" +
                            "                    </div>\n" +
                            "                    <h3><span><img class=\"pull-left\" src=\"/res/buy_more/images/admin.jpg\" alt=\"\"/></span>" + item.title + "</h3>\n" +
                            "                    <p>" + item.detail + ".</p>\n" +
                            "                </div>\n" +
                            "            </div>";
                        if (tmp2 === 1) {
                            str += "</div>";
                            tmp2 = 0;
                        }
                    });
                    commentBox.append(str);
                }
            },
            error: function () {
                bs4pop.notice('初始化异常,请稍后重试!', {position: 'topcenter'});
            }
        })
    }

</script>

</body>
</html>