<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BuyMore - eCommerce Bootstrap Template</title>

    <div th:insert="buyMore/common/css :: css"></div>
</head>

<body>
<!-- Header -->
<div th:insert="buyMore/common/header :: copy"></div>

<!-- page header -->
<section class="page-header">
    <div class="page-header-overlay">
        <div class="container">
            <div class="row">
                <div class="section-title col-md-offset-3 col-md-6 text-center">
                    <h2>Contact Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- menu row -->
<section class="menu-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="menu-link">
                    <div class="well well-lg page-label">
                        <h3 class="pull-left">Contact Us</h3>
                        <ul class="list-inline pull-right">
                            <li>Home</li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <iframe class="g-map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d233667.82239186848!2d90.279237521418!3d23.78088745652823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b087026b81%3A0x8fa563bbdd5904c2!2sDhaka+1000-1200!5e0!3m2!1sen!2sbd!4v1452580729106"
                        width="100%" height="400" border="0"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="other-addr">
                    <h3>Get in Touch</h3>
                    <p>Lorem ipsum dolor sit amet, eu adipiscing volutpat, mus augue pede assa gravida.</p>

                    <div class="location">
                        <i class="fa fa-map pull-left"><span></span></i>
                        <p>Lebel 2, USA Melbounire, USA</p>
                    </div>
                    <div class="email">
                        <i class="fa fa-envelope pull-left"><span></span></i>
                        <p>support@gmail.com / im@gmail.com</p>
                    </div>
                    <div class="phone">
                        <i class="fa fa-headphones pull-left"><span></span></i>
                        <p>+880183947930 / +(980)1839479</p>
                    </div>
                    <div class="fax">
                        <i class="fa fa-fax pull-left"><span></span></i>
                        <p>+93788495994 / +09964930234</p>
                    </div>
                </div>
            </div>
            <!-- Contact form -->
            <div class="col-sm-8 col-sm-6 col-xs-12">
                <div class="row form">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Website">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea class="form-control" rows="6" placeholder="Message"></textarea>
                        </div>
                        <button class="btn btn-default" type="submit"><i class="fa fa-envelope"></i> Send Message
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Top footer -->
<section class="top-footer">
    <div class="top-footer-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="top-footer-title"><h3 class="dash">Post From Blog</h3></div>
                    <ul class="media-list">
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>Dec 23, 2015</small>
                            </div>
                        </li>
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>Dec 23, 2015</small>
                            </div>
                        </li>
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer3.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>Dec 23, 2015</small>
                            </div>
                        </li>
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer4.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>Dec 23, 2015</small>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="top-footer-title"><h3 class="dash">Trendy Fashion</h3></div>
                    <ul class="media-list">
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$25</small>
                            </div>
                        </li>
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer3.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$45</small>
                            </div>
                        </li>
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer4.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$35</small>
                            </div>
                        </li>
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$85</small>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="top-footer-title"><h3 class="dash">Top Sale Items</h3></div>
                    <ul class="media-list">
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$15</small>
                            </div>
                        </li>
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer3.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$25</small>
                            </div>
                        </li>
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer4.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$235</small>
                            </div>
                        </li>
                        <li class="media latest-status footer-bg">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$55</small>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="top-footer-title"><h3 class="dash">Trendy Fashion</h3></div>
                    <ul class="media-list">
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer2.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$95</small>
                            </div>
                        </li>
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer3.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$55</small>
                            </div>
                        </li>
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer4.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$45</small>
                            </div>
                        </li>
                        <li class="media latest-status">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="images/footer.jpg" alt=""></a>
                            </div>
                            <div class="media-body">
                                <p>Lorem ipsum dolor sit amet consectetuer.</p>
                                <small>$65</small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Middle footer -->
<section class="middle-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-xs-12 text-center">
                <div class="input-group subscribe-form input-group-lg">
                    <input type="text" class="form-control" placeholder="Your Email Here"
                           aria-describedby="sizing-addon1">
                    <span class="input-group-addon subscribe-btn" id="sizing-addon1">Subscribe <i
                            class="fa fa-send hidden-xs"></i></span>
                </div>
                <div>
                    <a class="site-title" href="index.html">Buy<span>More</span></a>
                    <p class="m-f-p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit agrel. Donec odio. Quisque
                        volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh viverra non.</p>
                </div>
                <ul class="list-inline social-icon">
                    <li><i class=" fa fa-facebook"></i></li>
                    <li><i class=" fa fa-google-plus"></i></li>
                    <li><i class=" fa fa-linkedin"></i></li>
                    <li><i class=" fa fa-twitter"></i></li>
                    <li><i class=" fa fa-skype"></i></li>
                </ul>
                <ul class="list-inline address">
                    <li><i class=" lnr lnr-home"></i>Uk Street, Unesco limted Road</li>
                    <li><i class=" lnr lnr-envelope"></i>infogmail@gmail.com</li>
                    <li><i class=" lnr lnr-phone-handset"></i>(+8802) 890 876; (+8802) 790 776</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- bottom footer -->
<footer class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-xs-12 text-center">
                <p>BuyMore Template <i class=" lnr lnr-heart"></i> Boot Ultra | All Rights Reserved / More Templates <a
                        href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a
                        href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </div>
        </div>
    </div>
</footer>

<script th:replace="buyMore/common/js :: js"></script>
</body>
</html>