<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>BuyMore - eCommerce Bootstrap Template</title>

        <div th:insert="buyMore/common/css :: css"></div>

	</head>	
    
    <body>
		<!-- Header -->
        <div th:insert="buyMore/common/header :: copy"></div>
            
        <!-- page header -->    
        <section class="page-header">
            <div class="page-header-overlay">
                <div class="container">
                    <div class="row">
                        <div class="section-title col-md-offset-3 col-md-6 text-center">
                            <h2>我的订单</h2>
<!--                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam                                     malesuada erat ut turpis.</p>-->
                        </div>
                    </div>
                </div>    
            </div>    
        </section> 
         
        <!-- menu row -->    
        <section class="menu-row">    
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="menu-link">
                            <div class="well well-lg page-label">
                                <h3 class="pull-left">FAQ</h3>
                                <ul class="list-inline pull-right">
                                    <li>Home</li>
                                    <li><i class="fa fa-angle-double-right"></i></li>
                                    <li>FAQ</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
        
        <!-- FAQ -->
        <section class="faq-section faq-brands">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-6 col-xs-12">
                        <div class="section-title">
                            <h3>FAQ</h3>
                            <small>Our faq vehicula pede leo ante vitae primis</small>
                            <span class="section-border"><span class="dash"></span></span>
                        </div>
                        <p class="faq-description">Lorem ipsum dolor sit amet, eu adipiscing volutpat, mus augue pede. Dui massa gravida amet sed, praesent pretium aliquam ligula rutrum, elit et risus cum tincidunt ipsum amet sed.</p>
                        
                        <!-- faq collapse -->
                        <div class="panel-group faq" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading active" role="tab" id="headingOne">
                                    <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#1" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-question-circle
"></i>Women Latest fashion Clothes</a></h4>
                                </div>
                                <div id="1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <strong>Trendy Styles dolor sit amet reprehenderit</strong>
                                        <p>Nec elit in pede, at sagittis, vitae aliquet vehicula feugiat. Cras dui, libero purus aptent velit sit aenean, volutpat nec sollicitudin ante fermentum ac, dui quisque ante. Mattis proin lectus scelerisque justo, facilisis scelerisque vitae at sociosqu ipsum dolor, id risus laoreet mauris leo volutpat, cras ut ut sodales. Pretium aliquam sit nunc porttitor wisi vestibulum, vel aenean accumsan gravida et massa volutpat. Dolor fusce vestibulum in, montes sit vel ligula vestibulum, erat aliquet amet mattis ultrices. Neque velit non sit quis ante nulla, at orci impedit a mi erat, et at interdum. Nascetur dolor, odio volutpat nulla pede urna euismod rutrum.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#2" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-question-circle
"></i>Men Latest fashion Clothes</a></h4>
                                </div>
                                <div id="2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <strong>Trendy Styles dolor sit amet reprehenderit</strong>
                                        <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry                                                                 richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck                                                 quinoa nesciunt laborum eiusmod.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#3" aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-question-circle
"></i>Men Latest fashion Clothes</a></h4>
                                </div>
                                <div id="3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <strong>Trendy Styles dolor sit amet reprehenderit</strong>
                                        <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry                                                                 richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck                                                 quinoa nesciunt laborum eiusmod.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#4" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-question-circle
"></i>Men Latest fashion Clothes</a></h4>
                                </div>
                                <div id="4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <strong>Trendy Styles dolor sit amet reprehenderit</strong>
                                        <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry                                                                 richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck                                                 quinoa nesciunt laborum eiusmod.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#5" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-question-circle
"></i>Men Latest fashion Clothes</a></h4>
                                </div>
                                <div id="5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <strong>Trendy Styles dolor sit amet reprehenderit</strong>
                                        <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry                                                                 richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck                                                 quinoa nesciunt laborum eiusmod.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#6" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-question-circle
"></i>Men Latest fashion Clothes</a></h4>
                                </div>
                                <div id="6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <strong>Trendy Styles dolor sit amet reprehenderit</strong>
                                        <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry                                                                 richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck                                                 quinoa nesciunt laborum eiusmod.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#7" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-question-circle
"></i>Men Latest fashion Clothes</a></h4>
                                </div>
                                <div id="7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <strong>Trendy Styles dolor sit amet reprehenderit</strong>
                                        <p>Lorem ipsum dolor sit amet reprehenderit, enim eiusmod high life accusamus terry                                                                 richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck                                                 quinoa nesciunt laborum eiusmod.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--collapse-->
                    </div>
                    <!-- right sidebar -->
<!--                    <div class="col-md-3 col-sm-6 col-xs-12">-->
<!--                        <div class="sidebar">-->
<!--                            &lt;!&ndash; category widget &ndash;&gt;-->
<!--                            <div class="panel widget panel-default">-->
<!--                                <div class="panel-heading">-->
<!--                                    <h3 class="panel-title">Category</h3>-->
<!--                                </div>-->
<!--                                <div class="panel-body">-->
<!--                                    <ul class="category-list">-->
<!--                                        <li><i class="fa fa-eye side-icon pull-left active"></i>Premium Store <i class="fa fa-angle-right pull-right"></i></li>-->
<!--                                        <li><i class="fa fa-eyedropper side-icon pull-left"></i>Premium Store <i class="fa fa-angle-right pull-right"></i></li>-->
<!--                                        <li><i class="fa fa-flash side-icon pull-left"></i>Premium Store <i class="fa fa-angle-right pull-right"></i></li>-->
<!--                                        <li><i class="fa fa-flask side-icon pull-left"></i>Premium Store <i class="fa fa-angle-right pull-right"></i></li>-->
<!--                                        <li><i class="fa fa-fire side-icon pull-left"></i>Premium Store <i class="fa fa-angle-right pull-right"></i></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Size widget &ndash;&gt;-->
<!--                            <div class="panel widget panel-default">-->
<!--                                <div class="panel-heading">-->
<!--                                    <h3 class="panel-title">Size</h3>-->
<!--                                </div>-->
<!--                                <div class="panel-body">-->
<!--                                    <ul class="list-inline size">-->
<!--                                        <li class="active">XS</li>-->
<!--                                        <li>SM</li>-->
<!--                                        <li>MD</li>-->
<!--                                        <li>LG</li>-->
<!--                                        <li>XL</li>-->
<!--                                    </ul>   -->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Manufatues widget &ndash;&gt;-->
<!--                            <div class="panel manufatue widget panel-default">-->
<!--                                <div class="panel-heading">-->
<!--                                    <h3 class="panel-title">Manufactues</h3>-->
<!--                                </div>-->
<!--                                <div class="panel-body">-->
<!--                                    <ul class="category-list">-->
<!--                                        <li><i class="side-icon pull-right active">15</i>Gucci </li>-->
<!--                                        <li><i class="side-icon pull-right active">37</i>Asos </li>-->
<!--                                        <li><i class="side-icon pull-right active">50</i>Blubery </li>-->
<!--                                        <li><i class="side-icon pull-right active">78</i>H&M </li>-->
<!--                                        <li><i class="side-icon pull-right active">94</i>Tesco </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>    
        </section>


        <!-- 通用footer -->
        <div th:insert="buyMore/common/footer :: footer"></div>
        <script th:replace="buyMore/common/js :: js"></script>
    <script>
        $(function () {
            innit();
        });
        function innit() {
            innitFooterBox();
        }
    </script>
    </body>
</html>