<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BuyMore - eCommerce Bootstrap Template</title>

    <!--======== All Stylesheet =========-->
    <link th:href="@{${buyResPath}}+'/bootstrap/css/bootstrap.min.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/font-awesome.min.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/linearicons.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/style.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/responsive.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/selfStyle.css'" rel="stylesheet"/>
</head>

<body>
<!-- Header -->
<div th:insert="buyMore/common/header :: copy"></div>

<!-- page header -->
<section class="page-header">
    <div class="page-header-overlay">
        <div class="container">
            <div class="row">
                <div class="section-title col-md-offset-3 col-md-6 text-center">
                    <h2>全部商品</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam malesuada erat ut turpis.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- menu row -->
<section class="menu-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="menu-link">
                    <div class="well well-lg page-label">
                        <h3 class="pull-left">商品列表</h3>
                        <ul class="list-inline pull-right">
                            <li>主页</li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li>全部商品</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product -->
<section class="product-list">
    <div class="grid-product">
        <div class="container">
            <div class="row">
                <!-- left sidebar -->
                <div class="col-md-3">
                    <div class="sidebar">
                        <!-- category widget -->
                        <div class="panel widget panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">分类</h3>
                            </div>
                            <div class="panel-body">
                                <ul id="categoryBox" class="category-list">

                                </ul>
                            </div>
                        </div>
                        <!-- Size widget -->
                        <!--                                <div class="panel widget panel-default">-->
                        <!--                                    <div class="panel-heading">-->
                        <!--                                        <h3 class="panel-title">Size</h3>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="panel-body">-->
                        <!--                                        <ul class="list-inline size">-->
                        <!--                                            <li class="active">XS</li>-->
                        <!--                                            <li>SM</li>-->
                        <!--                                            <li>MD</li>-->
                        <!--                                            <li>LG</li>-->
                        <!--                                            <li>XL</li>-->
                        <!--                                        </ul>   -->
                        <!--                          6y          </div>-->
                        <!--                                </div>-->
                        <!--                        &lt;!&ndash; Manufatues widget &ndash;&gt;-->
                        <!--                        <div class="panel manufatue widget panel-default">-->
                        <!--                            <div class="panel-heading">-->
                        <!--                                <h3 class="panel-title">品牌</h3>-->
                        <!--                            </div>-->
                        <!--                            <div class="panel-body">-->
                        <!--                                <ul class="category-list">-->
                        <!--                                    <li><i class="side-icon pull-right active">15</i>Gucci</li>-->
                        <!--                                    <li><i class="side-icon pull-right active">37</i>Asos</li>-->
                        <!--                                    <li><i class="side-icon pull-right active">50</i>Blubery</li>-->
                        <!--                                    <li><i class="side-icon pull-right active">78</i>H&M</li>-->
                        <!--                                    <li><i class="side-icon pull-right active">94</i>Tesco</li>-->
                        <!--                                </ul>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!-- On Sale widget -->
                        <div class="panel widget panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">特价</h3>
                            </div>
                            <div class="panel-body">
                                <ul id="minPriceGoodsBoxBody" class="media-list onsale">


                                </ul>
                            </div>
                        </div>
                        <!-- Discount widget -->
                        <div class="panel discount widget panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">限时折扣</h3>
                            </div>
                            <div id="offerBox" class="panel-body">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- product grid -->
                <div class="col-md-9">
                    <!-- ad 3 -->
                    <div class="row">
                        <div class="ad-3">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div><img class="img-responsive ad-3" src="/res/buy_more/images/banner2.jpg" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- subcategory -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h3 class="women">Women
                                <small class="pull-right">There Are 120 Products</small>
                            </h3>
                            <h4 class="subcategory">二级类目</h4>
                            <div id="subcategoryBox" class="row">


                            </div>
                            <div class="list-style">
                                <strong>Showing 1-10 of 120 Products <a class="pull-right active"
                                                                        href="product-grid.html"><i
                                        class="fa fa-th"></i></a><a class="pull-right" href="product-list.html"><i
                                        class="fa fa-th-list"></i></a></strong>
                                <!--                                <div>-->
                                <!--                                    <a class="btn btn-default" href="#"><i class="fa fa-retweet"></i>Compare</a>-->
                                <!--                                    <a class="btn btn-default pull-right" href="#"><i class="fa fa-star-o"></i>See-->
                                <!--                                        All</a>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    <!-- 商品列表 -->
                    <div id="searchCondition">
                        <input id="pBoxCId" type="hidden" name="categoryId" value="0">
                        <input id="pBoxSubCId" type="hidden" name="subCategoryId" value="0">
                    </div>
                    <div id="productListBox" class="row m-30" tabindex="0" hidefocus="true">

                    </div>

                    <div id="page"></div>

                    <!--                    <nav>-->
                    <!--                        <ul id="boxFooter" class="pager pull-left">-->

                    <!--                        </ul>-->
                    <!--                    </nav>-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 通用footer -->
<div th:insert="buyMore/common/footer :: footer"></div>

<!--======== All Javascript =========-->
<script th:src="@{${buyResPath}}+'/bootstrap/js/jquery-2.1.1.js'" type="text/javascript"></script>
<script th:src="@{${buyResPath}}+'/bootstrap/js/bootstrap.min.js'" type="text/javascript"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="/res/pop/js/bs4.pop.js" type="text/javascript"></script>
<script src="/res/page/xlPaging.js" type="text/javascript"></script>
<script th:replace="buyMore/common/loginCheck :: loginCheck"></script>

<script>
    $(function () {
        innit();

    });

    // 初始化方法
    function innit() {
        innitCategory();
        innitMinPriceGoodsBoxBody();
        innitOfferBox();
        innitFooterBox();
    }

    function innitCategory() {
        var categoryBox = $("#categoryBox");
        categoryBox.empty();
        var str = "";
        $.ajax({
            url: "innit_buyMore_category",
            dataType: "json",
            type: "post",
            success: function (data) {
                console.log(data);
                data.forEach(function (item, index) {
                    if(index == 1){
                        $("#pBoxCId").val(""+item.categoryId+"");
                    }
                    str = " <li id='categoryLi" + index + "' onclick=\" categoryClick(this.id," + item.categoryId + ");\"> <i class=\"fa fa-eye side-icon pull-left categoryHref ";
                    if (index == 0) {
                        str += "active";
                    }
                    str += "\"></i>" + item.categoryName + " <i class=\"fa fa-angle-right pull-right\"></i></li>";
                    categoryBox.append(str)
                })
                innitSubCategory(data[0].categoryId);
                // console.log($("#categoryLi0"))
                // $("#categoryLi0").click();
            },
            error: function () {
                bs4pop.notice('初始化异常,请稍后重试!', {position: 'topcenter'});
            }
        })
    }

    // 设置选中样式
    function categoryClick(id, categoryId) {
        // console.log($(".categoryHref"));
        $(".categoryHref").removeClass("active");
        $("#" + id + " i:eq(0)").addClass("active");
        $("#pBoxCId").val(""+categoryId+"");
        innitSubCategory(categoryId);
        $(".subcategoryHref:eq(0)").click();
    }

    //初始化子分类
    function innitSubCategory(categoryId) {
        var subCategory = $("#subcategoryBox");
        $.ajax({
            url: "innit_subcategory",
            dataType: "json",
            type: "post",
            data: {
                "categoryId": categoryId,
                "size": 100,
                "current": "1"
            },
            success: function (data) {
                console.log("初始化子分类------------------------------------->")
                console.log(data);
                console.log("------------------------------------------------");
                var str = "";
                if (data.records.length >= 1) {
                    subCategory.empty();
                    data.records.forEach(function (item, index) {
                        if(index == 1){
                            $("#pBoxSubCId").val(""+item.subCategoryId+"");
                            innitProductListBox();
                        }
                        str = " <div class=\"col-md-2 col-sm-4 col-xs-6\">\n" +
                            "                                    <div class=\"subcategory-img\">\n" +
                            "                                        <img class=\"img-responsive\" src=\"" + item.image + "\" alt=\"\"/>\n" +
                            "                                        <div id='sunCategoryHref" + item.subCategoryId + "' class=\"subcategoryHref subcategory-overlay\" onclick='subCategoryActive(" + item.subCategoryId + ");'>" + item.subCategoryName + "</div>\n" +
                            "                                    </div>\n" +
                            "                                </div>";
                        subCategory.append(str);
                    });
                    $(".subcategoryHref:eq(0)").addClass("subcategory-active");
                }
            },
            error: function () {
                bs4pop.notice('初始化异常,请稍后重试!', {position: 'topcenter'});
            }
        })
    }

    //子分类样式
    function subCategoryActive(subCategoryId) {
        $(".subcategoryHref").removeClass("subcategory-active");
        $("#sunCategoryHref" + subCategoryId + "").addClass("subcategory-active");
        $("#pBoxSubCId").val(""+subCategoryId+"");
        innitProductListBox();
    }

    // 初始化特价商品
    function innitMinPriceGoodsBoxBody() {
        var minPriceGoodsBoxBody = $("#minPriceGoodsBoxBody");
        $.ajax({
            url: "innit_minPriceGoodsBox",
            dataType: "json",
            type: "post",
            data: {
                "start": 1,
                "end": 4
            },
            success: function (data) {
                console.log("初始化特价商品------------------------------------->")
                console.log(data);
                console.log("------------------------------------------------");
                var str = "";
                if (data.length >= 1) {
                    minPriceGoodsBoxBody.empty();
                    data.forEach(function (item, index) {
                        str = "  <li class=\"media latest-status\">\n" +
                            "                                        <div class=\"media-left\">\n" +
                            "                                            <a href=\"#\"><img class=\"media-object\" src=\"" + item.image + "\" alt=\"\"></a>\n" +
                            "                                        </div>\n" +
                            "                                        <div class=\"media-body\">\n" +
                            "                                            <p>" + item.productName + "</p>\n" +
                            "                                            <small><del>" + item.priceParam1 + "</del>&nbsp;现价:" + item.priceParam2 + "</small>\n" +
                            "                                        </div>\n" +
                            "                                    </li>";
                        minPriceGoodsBoxBody.append(str);
                    });
                }
            },
            error: function () {
                bs4pop.notice('初始化异常,请稍后重试!', {position: 'topcenter'});
            }
        })
    }

    // 初始化折扣商品
    // todo 可以考虑随机查询一条
    function innitOfferBox() {
        var offerBox = $("#offerBox");
        $.ajax({
            url: "innit_offerBox",
            dataType: "json",
            type: "post",
            data: {
                "start": 0,
                "end": 1
            },
            success: function (data) {
                console.log("初始化折扣商品------------------------------------->")
                console.log(data);
                console.log("------------------------------------------------");
                var str = "";
                if (data.length >= 1) {
                    offerBox.empty();
                    data.forEach(function (item, index) {
                        str = " <img class=\"img-responsive\" src=\"" + item.image + "\" alt=\"discount\"/>\n" +
                            "            <div class=\"discount-label\">" + item.activityStr + "% 折扣</div>";
                        offerBox.append(str);
                    });
                }
            },
            error: function () {
                bs4pop.notice('初始化异常,请稍后重试!', {position: 'topcenter'});
            }
        })
    }

    // 初始化商品列表
    function innitProductListBox(current) {
        var productListBox = $("#productListBox");
        if (current == null || current <= 0) {
            current = 1;
        }
        console.log("分类id的值---------------------------->"+ $("#pBoxCId").val())
        console.log("子分类id的值---------------------------->"+ $("#pBoxSubCId").val())
        const categoryId = $("#pBoxCId").val() == 0 ?  null: $("#pBoxCId").val();
        const subCategoryId = $("#pBoxSubCId").val() == 0 ? null : $("#pBoxSubCId").val();
        $.ajax({
            url: "innit_productListBox",
            dataType: "json",
            type: "post",
            data: {
                "current": current,
                "size": 6,
                "categoryId":categoryId,
                "subCategoryId":subCategoryId
            },
            success: function (data) {
                console.log("初始化商品列表------------------------------------->")
                console.log(data);
                console.log("------------------------------------------------");
                var str = "";
                let tagStr = " ";
                let activityStr = " ";
                let isNewStr = " ";
                productListBox.empty();
                if (data.records.length >= 1) {
                    data.records.forEach(function (item, index) {
                        if (item.productTagId > 0) {
                            tagStr = " <strong>" + item.productTagStr + "</strong>";
                        }
                        if (parseInt(item.isNew) == 1) {
                            isNewStr = "<strong class=\"new\">New</strong>";
                        }
                        if (parseInt(item.activityType) == 2) {
                            activityStr = "<strong>" + item.activityStr + "%</strong>";
                        }
                        str = "<div class=\"col-md-4 col-sm-6 col-xs-12\">\n" +
                            "                    <div class=\"single-grid\">\n" +
                            "                        <div class=\"grid-img\">\n" +
                            "                            <img class=\"img-resposive\" src=\"" + item.image + "\" alt=\"women\"/>\n" +
                            tagStr + isNewStr + activityStr +
                            "                            <div class=\"grid-overlay\" onclick='showDetail(" + item.productId + ")' >\n" +
                            "                                <ul>\n" +
                            "                                    <li onclick='likeThis(" + item.productId + ")'><i class=\"lnr lnr-heart\"></i></li>\n" +
                            "                                    <li onclick='carThis(" + item.productId + ")'><i class=\"lnr lnr-cart\"></i></li>\n" +
                            "                                </ul>\n" +
                            "                            </div>\n" +
                            "                        </div>\n" +
                            "                        <h3>" + item.productName + " <span>¥" + item.price + "</span></h3>\n" +
                            "                        <p>" + item.description + "</p>\n" +
                            "                    </div>\n" +
                            "                </div>";
                        productListBox.append(str);
                    });
                    // boxFooter(data.total, data.size, data.current, data.pages);
                    // 翻页插件
                    boxFooter2(data.total, data.size, data.current, data.pages);
                }
                else{
                    $("#page").empty();
                }
            },
            error: function () {
                bs4pop.notice('初始化异常,请稍后重试!', {position: 'topcenter'});
            }
        })
    }

    function showDetail(productId) {
        $(location).prop('href', "/AWyOfhUI/buyMore/single-product.html?productId=" + productId);
    }

    function likeThis(productId) {
        window.event.cancelBubble = true;
        alert("大幅度")
    }

    function carThis(productId) {
        window.event.cancelBubble = true;
        alert("大幅度2")
    }

    // 翻页插件
    function boxFooter2(total, size, current, pages) {
        $("#page").paging({
            nowPage: current, // 当前页码,默认为1
            pageNum: pages, // 总页码
            buttonNum: 7, //要展示的页码数量，默认为7，若小于5则为5
            callback: function (num) { //回调函数,num为当前页码
                // console.log(num);
                innitProductListBox(num);
                productListBox.focus();
            }
        });
    }
</script>
</body>
</html>