<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BuyMore - eCommerce Bootstrap Template</title>

    <!--======== All Stylesheet =========-->
    <link th:href="@{${buyResPath}}+'/bootstrap/css/bootstrap.min.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/font-awesome.min.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/linearicons.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/style.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/responsive.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/selfStyle.css'" rel="stylesheet"/>
</head>

<body>
<!-- Header -->
<div th:insert="buyMore/common/header :: copy"></div>

<!-- page header -->
<section class="page-header">
    <div class="page-header-overlay">
        <div class="container">
            <div class="row">
                <div class="section-title col-md-offset-3 col-md-6 text-center">
                    <h2>商品详情</h2>
                    <!--                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis-->
                    <!--                        eros. Nullam malesuada erat ut turpis.</p>-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- menu row -->
<section class="menu-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="menu-link">
                    <div class="well well-lg page-label">
                        <h3 class="pull-left">商品详情</h3>
                        <ul class="list-inline pull-right">
                            <li>首页</li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li>商品详情</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Single Product -->
<section class="single-product">
    <div class="container">
        <div id="productDetailBox" class="row">

        </div>
    </div>
</section>

<!-- Product description -->
<section class="single-description">
    <div cl class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="description-tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" aria-controls="home" role="tab"
                                                                  data-toggle="tab">Description</a></li>
                        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Question</a>
                        </li>
                        <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab"
                                                   data-toggle="tab">About</a></li>
                        <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab"
                                                   data-toggle="tab">Review</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            <h3>Sodales scelerisque nostra ut enim nulla</h3>
                            <p>Lorem ipsum dolor sit amet, nunc varius ligula vestibulum, porttitor lorem morbi amet.
                                Arcu et massa a non, ac nulla eu. Urna neque cras, praesent unde eget. Vivamus sapien
                                aliquam id, sodales scelerisque nostra ut enim nulla nulla. Venenatis eu mi justo augue
                                dolor non. Tortor et donec wisi lectus pellentesque et. Mauris nisl sit vitae. Semper
                                omnis netus, ligula lorem pretium, deserunt ipsum dui, etiam quisque est, sapien mauris
                                adipiscing vitae iaculis vehicula neque. Aenean sed ac maecenas, arcu arcu in.
                                Vestibulum phasellus mauris nibh est pretium, suspendisse facilisi dui quisque fusce
                                penatibus.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab2">
                            <h3>Sapien mauris adipiscing vitae iaculis vehicula</h3>
                            <p>Lorem ipsum dolor sit amet, nunc varius ligula vestibulum, porttitor lorem morbi amet.
                                Arcu et massa a non, ac nulla eu. Urna neque cras, praesent unde eget. Vivamus sapien
                                aliquam id, sodales scelerisque nostra ut enim nulla nulla. Venenatis eu mi justo augue
                                dolor non. Tortor et donec wisi lectus pellentesque et. Mauris nisl sit vitae. Semper
                                omnis netus, ligula lorem pretium, deserunt ipsum dui, etiam quisque est, sapien mauris
                                adipiscing vitae iaculis vehicula neque. Aenean sed ac maecenas, arcu arcu in.
                                Vestibulum phasellus mauris nibh est pretium, suspendisse facilisi dui quisque fusce
                                penatibus.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab3">
                            <h3>Nunc varius is adipiscing vitae iaculis vehicula</h3>
                            <p>Lorem ipsum dolor sit amet, nunc varius ligula vestibulum, porttitor lorem morbi amet.
                                Arcu et massa a non, ac nulla eu. Urna neque cras, praesent unde eget. Vivamus sapien
                                aliquam id, sodales scelerisque nostra ut enim nulla nulla. Venenatis eu mi justo augue
                                dolor non. Tortor et donec wisi lectus pellentesque et. Mauris nisl sit vitae. Semper
                                omnis netus, ligula lorem pretium, deserunt ipsum dui, etiam quisque est, sapien mauris
                                adipiscing vitae iaculis vehicula neque. Aenean sed ac maecenas, arcu arcu in.
                                Vestibulum phasellus mauris nibh est pretium, suspendisse facilisi dui quisque fusce
                                penatibus.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab4">
                            <h3>Praesent unde adipiscing vitae iaculis vehicula</h3>
                            <p>Lorem ipsum dolor sit amet, nunc varius ligula vestibulum, porttitor lorem morbi amet.
                                Arcu et massa a non, ac nulla eu. Urna neque cras, praesent unde eget. Vivamus sapien
                                aliquam id, sodales scelerisque nostra ut enim nulla nulla. Venenatis eu mi justo augue
                                dolor non. Tortor et donec wisi lectus pellentesque et. Mauris nisl sit vitae. Semper
                                omnis netus, ligula lorem pretium, deserunt ipsum dui, etiam quisque est, sapien mauris
                                adipiscing vitae iaculis vehicula neque. Aenean sed ac maecenas, arcu arcu in.
                                Vestibulum phasellus mauris nibh est pretium, suspendisse facilisi dui quisque fusce
                                penatibus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Related Product -->
<section>
    <div class="container">
        <div class="row">
            <div class="section-title col-md-offset-3 col-md-6 text-center">
                <h2>火爆热销</h2>
                <small>Check Out The Best Offer To Stay Trend.</small>
                <div class="section-border"><span class="dash"></span></div>
            </div>
        </div>

        <div id="hotProductBox" class="row">

        </div>
    </div>
</section>

<!--提示-->
<div class="modal fade" id="tips" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" style="padding-top: 15%" role="document">
        <div class="modal-content" style="width:500px;">
            <div class="modal-header bg-primary">
                <h6 class="modal-title">提示</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="tipsBox" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="delBtn" type="button" class="btn btn-primary">确认</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!-- 通用footer -->
<div th:insert="buyMore/common/footer :: footer"></div>

<!--======== All Javascript =========-->
<script th:src="@{${buyResPath}}+'/bootstrap/js/jquery-2.1.1.js'" type="text/javascript"></script>
<script th:src="@{${buyResPath}}+'/bootstrap/js/bootstrap.min.js'" type="text/javascript"></script>
<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="/res/pop/js/bs4.pop.js" type="text/javascript"></script>
<script src="/res/page/xlPaging.js" type="text/javascript"></script>
<script th:replace="buyMore/common/loginCheck :: loginCheck"></script>
</body>
<script>
    var ConnName;
    var ConnType = 0;
    var ConnCount = 1;
    var ConnTitle;
    $(function () {
        innit();
    });

    // 初始化方法
    function innit() {
        innitFooterBox();
        innitProductDetail();
        innitHotProduct()
    }

    function innitProductDetail() {
        $.ajax({
            url: "innit_productDetail",
            dataType: "json",
            type: "post",
            data: {
                "productId": [[${productId}]],
            },
            success: function (data) {
                console.log("初始化商品信息------------------------------------->")
                console.log(data);
                console.log("------------------------------------------------");
                var str = "";
                if (data != null) {
                    $("#productDetailBox").empty();
                    str += " <div class=\"col-md-4 col-sm-6 col-xs-12\">\n" +
                        "   <input type='hidden' id='productCount'>\n" +
                        "   <input type='hidden' id='productSpecId'>\n" +
                        "   <input type='hidden' id='productSpecType'>\n" +
                        "                <div class=\"single-product-img\">\n" +
                        "                    <img class=\"img-responsive\" src=\" " + data.detailImage + " \" alt=\"\"/>\n" +
                        "                </div>\n" +
                        "            </div>\n" +
                        "            <div class=\"col-md-6 col-sm-6 col-xs-12\">\n" +
                        "                <div class=\"single-product-detail\">\n" +
                        "                    <div class=\"btn-group\" role=\"group\">\n" +
                        "                        <button type=\"button\" class=\"btn btn-default active\"><i class=\"fa fa-circle\"></i> in Stock\n" +
                        "                        </button>\n" +
                        "                        <button type=\"button\" class=\"btn btn-default\"> 37 - in Stock</button>\n" +
                        "                    </div>\n" +
                        "                    <h3>" + data.productName + "</h3>\n" +
                        "                    <ul class=\"list-inline\">\n" +
                        "                        <li><i class=\"lnr lnr-star\"></i></li>\n" +
                        "                        <li><i class=\"lnr lnr-star\"></i></li>\n" +
                        "                        <li><i class=\"lnr lnr-star\"></i></li>\n" +
                        "                        <li><i class=\"lnr lnr-star\"></i></li>\n" +
                        "                        <li><i class=\"lnr lnr-star-half\"></i></li>\n" +
                        "                        <li><span>5 - Reviews</span></li>\n" +
                        "                    </ul>\n" +
                        "                    <p>" + data.description + "</p>\n" +
                        "                    <table class=\"table table-responsive table-bordered\">\n" +
                        "                        <tr>\n" +
                        "                            <td>口味</td>\n" +
                        "                            <td>\n" +
                        "                                <ul id='specList' class=\"list-inline\">\n";
                    if (data.specList.length > 0) {
                        for (var b = 0; b < data.specList.length; b++) {
                            var tmpName = "specTmp" + b;
                            window[tmpName] = data.specList[b].price.split(",");
                            str += "<li id='spec" + b + "' onclick='specActive(this.id," + tmpName + ",\"" + data.specList[b].specTitle + "\"," + data.specList[b].specId + ")'>" + data.specList[b].specTitle + "</li>"
                            // console.log(tmpName)
                        }
                        str += "                                </ul>\n" +
                            "                            </td>\n" +
                            "                        </tr>\n" +
                            "                        <tr>\n" +
                            "                            <td>分量</td>\n" +
                            "                            <td>\n" +
                            "                                <ul class=\"list-inline\">\n" +
                            "                                    <li class=\"red specNum\" onclick='productTypeCheck(0)'>小份</li>\n" +
                            "                                    <li class=\"yellow\" onclick='productTypeCheck(1)'>中份</li>\n" +
                            "                                    <li class=\"black\" onclick='productTypeCheck(2)'>大份</li>\n" +
                            "                                </ul>\n" +
                            "                            </td>\n" +
                            "                        </tr>\n" +
                            "                       <tr> \n" +
                            "                            <td>数量</td>\n" +
                            "                  <td> \n" +
                            "                      <div class='list-inline'>\n" +
                            "                             <div>" +
                            "<input type='hidden' id='countInput' value='1'>" +
                            "                              <span style=\"font-size:1.5em;cursor:pointer;\" onclick='countReduce()'>－</span>\n" +
                            "                             <span  style=\"font-size:1.5em\" id='countBox'>1</span>\n" +
                            "                             <span style=\"font-size:1.5em;cursor:pointer;\" onclick='countAdd()'>＋</span>\n" +
                            "                      </div>\n" +
                            "                 </td>>\n" +
                            "                     <\tr>\n" +
                            "                    </table>\n";
                    }
                    str += "                    <div id='specPrice' class=\"price\">$287.99</div>\n" +
                        "                    <div class=\"order-tag\">Tellus accumsan purus diam molestias</div>\n" +
                        "                    <div class=\"add-cart\"><a class=\"btn btn-default\" href=\"javacript:void(0);\" onclick='addCar(" + data.productId + ")'><i class=\"lnr lnr-cart\"></i>添加到购物车</a>\n" +
                        "                   <a class=\"btn btn-add\" href=\"javacript:void(0);\" onclick='buy(\"" + data.productName + "\"," + data.productId + ")' >立即购买</a>   \n" +
                        "                    </div>\n" +
                        "                </div>\n" +
                        "            </div>";
                    $("#productDetailBox").append(str);
                    // 默认选中第一个规格
                    $("#specList li:eq(0)").click();
                }
            },
            error: function () {
                bs4pop.notice('初始化异常,请稍后重试!', {position: 'topcenter'});
            }
        })
    }

    function countAdd() {
        event.stopPropagation();
        $("#countBox").text("");
        let count = parseInt($("#countInput").val());
        if (count >= 0) {
            count += 1;
        }
        $("#countInput").val(count);
        $("#countBox").text(count);
        ConnCount = count;
        priceChange();
    }

    function countReduce() {
        event.stopPropagation();
        $("#countBox").text("");
        let count = parseInt($("#countInput").val());
        if (count > 1) {
            count -= 1;
        }
        $("#countInput").val(count);
        $("#countBox").text(count);
        ConnCount = count;
        priceChange();
    }

    function addCar(productId) {
        let accountId = $.cookie("accountId");
        let oldJson =  window.localStorage.getItem('carProduct' + accountId + '');
        let carProductList = [];
        let carProduct = {
            "price": ConnName[ConnType] * ConnCount,
            "userName": accountId,
            "productId": productId,
            "specId": $("#productSpecId").val(),
            "type": ConnType,
            "count": ConnCount,
        };
        if (oldJson != null){
            carProductList = JSON.parse(oldJson);
        }
        carProductList.push(carProduct);
        window.localStorage.setItem('carProduct' + accountId + '',JSON.stringify(carProductList));
        confirm("加入购物车成功!");
        $("#shoppingCarTips").html(carProductList.length);
        // $.ajax({
        //     url: "add_car",
        //     dataType: "json",
        //     type: "post",
        //     data: {
        //         "productId": productId,
        //         "specId": specId,
        //         "type": specId,
        //         "count": count
        //     },
        //     success: function (data) {
        //         bs4pop.notice('加入购物车成功!', {position: 'topcenter'});
        //     },
        //     error: function () {
        //         bs4pop.notice('初始化异常,请稍后重试!', {position: 'topcenter'});
        //     }
        // })
    }

    function buy(productName, productId) {
        $("#delBtn").unbind();
        const count = $("#countBox").text();
        const productSpecId = $("#productSpecId").text();
        // const productSpecType = $("#productSpecType").text();
        $("#delBtn").click(function () {
            buyView(productId)
        });
        $("#tipsBox").empty();
        let str = "<p>确认购买信息:</p>";
        str += "<p>商品名称:" + productName + "</p>";
        str += "<p>口味:" + ConnTitle + "</p>";
        str += "<p>分量:";
        switch (ConnType) {
            case 0: {
                str += "小份";
                break;
            }
            case 1: {
                str += "中份";
                break;
            }
            case 2: {
                str += "大份";
                break;
            }
        }
        str += "</p>";
        str += "<p>总价:" + ConnName[ConnType] * ConnCount + "</p>";
        str += "<input type='text' class=\"form-control\" id='tel' placeholder='请输入电话'></br>";
        str += "<input type='text' class=\"form-control\" id='address' placeholder='请输入联系地址'>";
        $("#tipsBox").append(str);
        $("#tips").modal("show");
    }

    function buyView(productId) {
        let price = ConnName[ConnType] * ConnCount;
        let userName = $.cookie("accountId");
        $.ajax({
            url: "buy_now",
            dataType: "json",
            type: "post",
            data: {
                "productId": productId,
                "specId": $("#productSpecId").val(),
                "type": ConnType,
                "count": ConnCount,
                "price": price,
                "userName": userName,
                "tel": $("#tel").val(),
                "address": $("#address").val()
            },
            success: function (data) {
                $("#tips").modal("hide");
                if (data.code == 1000) {
                    confirm("购买成功!")
                } else {
                    confirm(data.msg);
                }

            },
            error: function () {
                bs4pop.notice('初始化异常,请稍后重试!', {position: 'topcenter'});
            }
        })
    }

    function productTypeCheck(type) {
        $("#productCount").val(type);
        ConnType = type;
        priceChange();
    }

    function specActive(id, tmpName, specTitle, specId) {
        $("#specList li").removeClass("specActive");
        $("#" + id + "").addClass("specActive");
        $("#productSpecId").val(specId);
        ConnName = tmpName;
        ConnTitle = specTitle;
        priceChange();
    }

    function priceChange() {
        let price = ConnName[ConnType] * ConnCount;
        $("#specPrice").text("¥" + price);
    }

    // 初始化热销产品
    function innitHotProduct() {
        var hotProductBox = $("#hotProductBox");
        hotProductBox.empty();
        $.ajax({
            url: "innit_buyMore_hot_product",
            dataType: "json",
            type: "post",
            success: function (data) {
                console.log(data);
                productDetail(data, hotProductBox);
            },
            error: function () {
                bs4pop.notice('初始化异常,请稍后重试!', {position: 'topcenter'});
            }
        })
    }

    // 商品数据组装(新品火爆通用)
    function productDetail(data, box) {
        let tagStr = " ";
        let activityStr = " ";
        let isNewStr = " ";
        var str = "";
        data.forEach(function (item, index) {
            if (item.productTagId > 0) {
                tagStr = " <strong>" + item.productTagStr + "</strong>";
            }
            if (item.isNew == 1) {
                isNewStr = "<strong class=\"new\">New</strong>";
            }
            if (item.activityType == 2) {
                activityStr = "<strong>" + item.activityStr + "%</strong>";
            }
            str = "<div class=\"col-md-3 col-sm-6 col-xs-12\">\n" +
                "                    <div class=\"single-grid\">\n" +
                "                        <div class=\"grid-img\">\n" +
                "                            <img class=\"img-resposive\" src=\"" + item.image + "\" alt=\"women\"/>\n" +
                tagStr + isNewStr + activityStr +
                "                            <div class=\"grid-overlay\">\n" +
                "                                <ul>\n" +
                "                                    <li><i class=\"lnr lnr-heart\"></i></li>\n" +
                "                                    <li><i class=\"lnr lnr-camera\"></i></li>\n" +
                "                                    <li><i class=\"lnr lnr-cart\"></i></li>\n" +
                "                                </ul>\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                        <h3>" + item.productName + " <span>¥" + item.price + "</span></h3>\n" +
                "                        <p>" + item.description + "</p>\n" +
                "                    </div>\n" +
                "                </div>";
            box.append(str);
        })
    }

</script>

</html>