<html  xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="css">
    <link th:href="@{${devResPath}}+'/css/bootstrap.min.css'" rel="stylesheet"/>
    <link th:href="@{${devResPath}}+'/css/ready.css'" rel="stylesheet"/>
    <link th:href="@{${devResPath}}+'/css/demo.css'" rel="stylesheet"/>
    <link th:href="@{${devResPath}}+'/css/selfStyle.css'" rel="stylesheet"/>
    <link th:href="@{${devResPath}}+'/css/fileinput.css'" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
</div>
</body>
</html>