<html  xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="js">

    <script th:src="@{${devResPath}}+'/js/core/jquery.3.2.1.min.js'" type="text/javascript"></script>
    <script th:src="@{${devResPath}}+'/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js'" type="text/javascript"></script>
    <script th:src="@{${devResPath}}+'/js/core/popper.min.js'" type="text/javascript"></script>
    <script th:src="@{${devResPath}}+'/js/core/bootstrap.min.js'" type="text/javascript"></script>
    <script th:src="@{${devResPath}}+'/js/plugin/chartist/chartist.min.js'" type="text/javascript"></script>
    <script th:src="@{${devResPath}}+'/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js'" type="text/javascript"></script>
    <script th:src="@{${devResPath}}+'/js/plugin/bootstrap-notify/bootstrap-notify.min.js'" type="text/javascript"></script>
    <script th:src="@{${devResPath}}+'/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js'" type="text/javascript"></script>
    <script th:src="@{${devResPath}}+'/js/plugin/jquery-mapael/jquery.mapael.min.js'" type="text/javascript"></script>
    <script th:src="@{${devResPath}}+'/js/plugin/jquery-mapael/maps/world_countries.min.js'" type="text/javascript"></script>
    <script th:src="@{${devResPath}}+'/js/plugin/chart-circle/circles.min.js'" type="text/javascript"></script>
    <script th:src="@{${devResPath}}+'/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js'" type="text/javascript"></script>
    <script th:src="@{${devResPath}}+'/js/ready.min.js'" type="text/javascript"></script>
    <script th:src="@{${devResPath}}+'/js/demo.js'" type="text/javascript"></script>

</div>
</body>
</html>