<html  xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="css">
    <!--======== All Stylesheet =========-->
    <link th:href="@{${buyResPath}}+'/bootstrap/css/bootstrap.min.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/font-awesome.min.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/linearicons.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/style.css'" rel="stylesheet"/>
    <link th:href="@{${buyResPath}}+'/css/responsive.css'" rel="stylesheet"/>
</div>
</body>
</html>